name: validate and test

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
           node-version-file: .node-version

      - name: Run setup script
        run: npm run setup

      - name: npm 8
        run: npm install --global npm@8
        
      - name: Run tests
        run: npm run test:coverage
